header > img {
  margin-bottom: 30px;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 35px;
  font-size: 20px;
  font-weight: 400;
}

.header__text--fir {
  display: inline-flex;
}

.p--fir {
  color: var(--orange);
  margin-right: 8px;
}

.header__text--thi {
  display: flex;
}

.p--las {
  margin-left: 8px;
  transition: color 0.5s ease;
}

.p--las:hover {
  color: whitesmoke;
  cursor: pointer;
}
