@media screen and (min-width: 1800px) and (max-width: 1930px) {
  body {
    width: 1930px;
    position: relative;
  }

  header {
    width: 32vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background: none;
    background: linear-gradient(
        0deg,
        rgba(255, 198, 74, 1) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(/images/background.jpeg);
    background-size: cover;
    position: fixed;
    left: 0;
    align-items: flex-end;
  }

  #man {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 3vw;
    margin-top: 10vw;
  }

  .header__text {
    font-size: 22px;
    align-items: flex-end;
    margin-right: 3vw;
  }

  main {
    width: 50vw;
    position: absolute;
    left: 36vw;
    top: 60px;
  }

  .intro,
  .bar {
    width: 50vw;
  }

  button {
    width: 180px;
    margin-bottom: 30px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 40px;
    margin: 70px 0px 40px 0px;
  }

  .intro__subtitle,
  .contact__subtitle {
    line-height: 28px;
    margin-bottom: 40px;
  }

  .works__title,
  .contact__title {
    font-size: 25px;
    margin: 60px 0px 40px 0px;
  }

  .works__images--fir,
  .works__images--sec,
  .works__images--las {
    display: flex;
  }

  #img1,
  #img2,
  #img3,
  #img4,
  #img5,
  #img6 {
    width: 20vw;
    height: 12vw;
  }

  .left-img {
    margin-right: 2vw;
  }

  .contact {
    width: 50vw;
    padding-bottom: 40px;
  }

  .contact__contents {
    display: flex;
    justify-content: center;
  }

  .contact__inputs__input {
    display: flex;
    width: 30vw;
    justify-content: space-between;
  }

  #input--name,
  #input--email {
    width: 14.5vw;
    margin-bottom: 1vw;
  }

  #input--message {
    width: 30vw;
    height: 12vw;
  }

  .contact__icons {
    width: 22vw;
    margin-top: 0px;
  }
  .contact__icons__home > i {
    margin-top: -20px;
  }
  .contact__icons__home > i,
  .contact__icons__phone > i,
  .contact__icons__email > i {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .contact__icons__home > span,
  .contact__icons__phone > span,
  .contact__icons__email > span {
    font-size: 14px;
    font-weight: 300;
  }

  .contact__icons__phone > span,
  .contact__icons__email > span {
    margin-top: -20px;
  }

  footer {
    width: 32vw;
    height: 20vh;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 198, 74, 1) 100%
    );
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 80vh;
    bottom: 0;
    align-items: flex-end;
    justify-content: center;
    color: var(--black);
  }

  .footer__icons {
    font-size: 27px;
    margin: 30px 3vw 30px 0px;
  }
  .footer__icons > i {
    margin-left: 13px;
  }
  .footer__text {
    display: inline;
    margin-right: 3vw;
  }
  .footer__text--fir,
  .footer__text--sec {
    border-right: 1px solid var(--darkgray);
    padding-right: 5px;
    margin-right: 5px;
  }
}
